<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <meta charset="utf-8" />    
    <title><%= program_name %></title>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <!--<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="headerDiv">
        <%= program_name %>
    </div>       
    
    <div class="contentDiv">
        
        <%/* Csak fejlesztére van ez a gomb fentartva! */%>
        <div style="display: block; float: right; margin: 0 0 2px 0;">
            <button type="button" onclick="generateNewDungeon()">Map generator</button>
        </div>

        <div id="gamediv" class="gamediv" style="display: block; clear: both; margin: 4px 0 4px 0; margin-left: auto; margin-right: auto;">
            <canvas id="mapcanvas" style="position: absolute; z-index: 0;">
                Your browser is not supported the HTML5 canvas!
            </canvas>
            <canvas id="unitcanvas" style="position: absolute; z-index: 1;"></canvas>
            <canvas id="missilecanvas" style="position: absolute; z-index: 2;"></canvas>
            <canvas id="devcanvas" style="position: absolute; z-index: 100;"></canvas>
        </div>                
    </div>
        
    <div class="footerDiv">
        <div class="developerAndVersionDiv">
            by <%= program_developer %> v.<%= program_version %>
        </div>
    </div>
        
    <script src="/javascripts/socket_comm.js"></script>
    <script src="/javascripts/client_util.js"></script>
    <script src="/javascripts/init_game_area.js"></script>
    
</body>
</html>