<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <div class="headerDiv">
        Game page...<%= test_a %>

        <% for(var i = 0; i != t_array.length; i++) {%>
            <li>
                <div>
                    <%= t_array[i] %>                        
                </div>                
            </li>
        <% } %>
    </div>

    <div class="contentDiv">
        <div id="gamediv" style="display: block; margin-top: 4px; margin-left: auto; margin-right: auto; width: 1000px;">
            <canvas id="mapcanvas" width="800" height="400" style="position: absolute; left: 0; top: 0; z-index: 0;">
                Your browser is not supported the HTML5 canvas.
            </canvas>
            <canvas id="unitcanvas" width="800" height="400" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
            <canvas id="missilecanvas" width="800" height="400" style="position: absolute; left: 0; top: 0; z-index: 2;"></canvas>
            <canvas id="devcanvas" style="position: absolute; z-index: 100;"></canvas>
        </div>
    </div>

    <div class="footerDiv">

    </div>

    <script src="/javascripts/client_util.js"></script>
    <script src="/javascripts/init_game_area.js"></script>

</body>
</html>