<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= program_name %></title>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <!--<link rel="icon" type="image/x-icon" href="/images/sword.ico">-->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <div class="headerDiv">
        <%= program_name %>
    </div>       

    <!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application -->
    <!-- https://github.com/tj/ejs -->
    <% include include/mainmenu %>   

    <div class="contentDiv">
        Welcome! This is the index page.<br/>

        <form id="uploadForm" enctype="multipart/form-data" action="/uploadfile" method="post">
            <input type="file" name="fileUpload" />
            <input type="submit" value="Upload Image" name="submit" />
        </form>

    </div>

    <div class="footerDiv">
        <div class="developerAndVersionDiv">
            by <%= program_developer %> v.<%= program_version %>
        </div>        
    </div>
        <!--<script src="/javascripts/Test.js"></script>-->
</body>
</html>