
<div class="mainMenuDiv">
    <a href="/">Index page</a>
    <a href="/admin">Admin page</a>
    <a href="/map">Map page</a>
    <a href="/game">Game page</a>
    <a href="/webgldemo1">WebGL Demo 1</a>
</div>