
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;    
}

html {
    background-color: white;
}

body {  
  font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif;
  font-size: .8125em;
  line-height: 1.53856;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;  
  color: black;
}

div.headerDiv {
    background-color: darkgray;
    width: auto;
    height: 20px;
}

div.mainMenuDiv {
    background-color: white;
    width: auto;
    height: 20px;
    margin: 5px 0 5px 0;
}

div.mainMenuDiv a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    font-weight: bold;
}

div.contentDiv {
    display: block;
    background-color: white;
    width: auto;
    margin: 2px 0 2px 0;
}

div.gameDiv {    
    background-color: white;
}

div.footerDiv {
    background-color: darkgray;
    width: auto;
    height: 20px;
}

div.developerAndVersionDiv {
    float: right;
}

div.pageTitleDiv {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
}

div.adminMenuDiv {
    display: block;    
}

div.adminMenuTitle {
    color: black;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;    
    border-bottom: 1px solid black;
}

div.adminMenuTitle:hover { 
    color: blue;    
}

div.adminMenuContentDiv {
    padding: 4px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

